@{
	ViewBag.Title = "Помощь";
}
<h2>@ViewBag.Title.</h2>
<h4></h4>
<br />
<address>
	Сайт является автоматизированной системой управления персоналом УВСИТЦУ<br />
	Функционал включает учет сотрудников, бюро, отделов<br />
	Система авторизации позволяет дифференцировать пользователей согласно их должности<br /><br />
	<u>Пользователям доступны:</u>
	<ul>
		<li>Просмотр отпусков за текущий год</li>
		<li>Участие в распределении отпусков</li>
		<li>Просмотр собственных переработок</li>
	</ul>
	<u>Руководителям бюро дополнительно доступны:</u>
	<ul>
		<li>Учет и просмотр сведений о субботниках</li>
		<li>Учет и просмотр сведений о сотрудниках своего бюро</li>
	</ul>
	<u>Руководителям отделов дополнительно доступны:</u>
	<ul>
		<li>Учет и просмотр сведений о сотрудниках всех бюро отдела</li>
		<li>Запуск распределения отпусков своего отдела</li>
	</ul>
</address>
<hr />
<address>
	<strong>Разработал:</strong>   <a href="mailto:GrigoriyDolgiy@mechel.ru">Григорий Рахимжанович Долгий</a><br />
	<abbr title="Телефон">раб:</abbr> 4-29-85<br />
	<abbr title="Телефон">сот:</abbr> 8-952-513-90-29
</address>