@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="opacity:0.8;">
	<h2>
		СЛУЖБА ИНФОРМАЦИОННЫХ ТЕХНОЛОГИЙ<br />
		<small>УПРАВЛЕНИЕ ПЕРСОНАЛОМ</small>
	</h2>
	<hr />
</div>

<div class="row">
	<div class="col-md-4">
		<h2>Отпуска</h2>
		<p>Вход в систему распределения отпусков персонала.<br />Просмотр графика отпусков.<br />Участие в голосовании при составлении графика отпусков.</p>
		<p>@Html.ActionLink("Перейти", "Index", "Vacations", null, new { @class = "btn btn-default" })</p>
	</div>
	<div class="col-md-4">
		<h2>Переработки</h2>
		<p>Вход в систему учета переработок персонала.<br />Просмотр сведений о переработках сотрудников.<br />Учет переработок.</p>
		<p>@Html.ActionLink("Перейти", "Overworking", null, new { @class = "btn btn-default" })</p>
	</div>
	<div class="col-md-4">
		<h2>Субботники</h2>
		<p>Вход в систему учета субботников.<br />Распределение персонала по субботникам.<br />Учет субботников.</p>
		<p>@Html.ActionLink("Перейти", "ExtraLabour", null, new { @class = "btn btn-default" })</p>
	</div>
</div>