@{
    ViewBag.Title = "Подтверждение почты";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Подтверждение электронной почты успешно. @Html.ActionLink("На главную", "Index", "Home")
    </p>
</div>
