
@{
	ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title</h2>
<div>
	<p>На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации</p>
	@*<p>
			Регистрация успешно завершена. @Html.ActionLink("На главную", "Index", "Home")
		</p>*@
</div>

