
@{
	ViewBag.Title = "Регистрация";
}

<h2>@ViewBag.Title</h2>
<div>
	@*<p>На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации</p>*@
	<p>Регистрация успешно завершена.</p>
	<p>@Html.ActionLink("На главную", "Index", "Home") | @Html.ActionLink("Зарегистрировать снова", "Register", "Account")</p>
</div>

